body {
  margin: 0px;
}

canvas {
  background-image: url(https://static.vecteezy.com/system/resources/previews/015/485/683/non_2x/destroyed-buildings-on-city-street-after-war-free-vector.jpg);
  margin: 20px;
}

img {
  display: none;
}

